Flask
Gunicorn
Werkzeug
numpy
pandas
opencv-python
cmake
argparse
scipy
imutils
tika
wave
nltk
gensim
seaborn
scikit-learn
dill
keras
tensorflow
numpy
pandas
opencv-python
argparse
scipy
imutils


